<main>
  <contextmenu id="some">
    <div class="dropdown open">
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">{{item}}</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </contextmenu>

  <ul class="list-group">
    <li contextmenu="some" *ngFor="let item of list; let i = index;" class="list-group-item">
      {{item}}
    </li>
  </ul>

</main>
